<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Membership</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

   <!-- Favicons -->
    <link href="/img/favicon.png" rel="icon" />
    <link href="/img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link
      href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"
    />
    <link
      href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet"
    />
    <link
      href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet"
    />
    <link
      href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet"
    />
    <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />
    <link href="/vendor/aos/aos.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="/css/main.css" rel="stylesheet" />

  <!-- JQuery Files -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="index" class="logo d-flex align-items-center">
        <img src="/img/app-logo.png" alt="">
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="index">Home</a></li>
          <li><a href="/">Seller Home</a></li>
          <li><a href="about">About</a></li>
          <li><a href="services">Services</a></li>
          <li><a href="contact">Contact</a></li>
          <li><a class="get-membership active-nav-membership" href="membership-form">Get Membership</a></li>
        </ul>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
  <!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="page-header d-flex align-items-center" style="background-image: url('/img/page-header.jpg');">
        <div class="container position-relative">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-6 text-center">
              <h2>Membership</h2>
              <p>Membership helps you to save money and get some extra benefits.
              </p>
            </div>
          </div>
        </div>
      </div>
      <nav>
        <div class="container">
          <ol>
            <li><a href="index">Home</a></li>
            <li>Membership</li>
          </ol>
        </div>
      </nav>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Membership Section ======= -->
    <section id="membership" class="membership pt-0">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <span>Membership Preferences</span>
          <h2>Membership Preferences</h2>

        </div>

        <div class="row gy-4">

          <div class="col-lg-3 col" data-aos="fade-up" data-aos-delay="100">
            <div class="membership-item">
              <h3>Classic-Lite</h3>
              <h4><sup>Rs.</sup>2,499<span> / 6 months</span></h4>
              <ul>
                <li><i class="bi bi-check"></i> 5% off on all packages</li>
                <li><i class="bi bi-check"></i> 1 time investment for 6 months</li>
                <li class="na"><i class="bi bi-x"></i> <span>Recommended for Businesses</span></li>
                <li class="na"><i class="bi bi-x"></i> <span>Cash on Delivery Service</span></li>
              </ul>
            </div>
          </div><!-- End Membership Item -->

          <div class="col-lg-3 col" data-aos="fade-up" data-aos-delay="100">
            <div class="membership-item">
              <h3>Classic-Pro</h3>
              <h4><sup>Rs.</sup>5,999<span> / year</span></h4>
              <ul>
                <li><i class="bi bi-check"></i> 5% off on all packages</li>
                <li><i class="bi bi-check"></i> 1 time investment for an year</li>
                <li class="na"><i class="bi bi-x"></i> <span>Recommended for Businesses</span></li>
                <li class="na"><i class="bi bi-x"></i> <span>Cash on Delivery Service</span></li>
              </ul>
            </div>
          </div><!-- End Membership Item -->

          <div class="col-lg-3 col" data-aos="fade-up" data-aos-delay="200">
            <div class="membership-item featured">
              <h3>Gold</h3>
              <h4><sup>Rs.</sup>9,999<sub></sub><span> / year</span></h4>
              <ul>
                <li><i class="bi bi-check"></i> 15% off on all packages</li>
                <li><i class="bi bi-check"></i> 1 time investment per year</li>
                <li><i class="bi bi-check"></i> <span>Recommended for Businesses</span></li>
                <li><i class="bi bi-check"></i> <span>Cash on Delivery Service</span></li>
              </ul>
            </div>
          </div><!-- End Membership Item -->

          <div class="col-lg-3 col" data-aos="fade-up" data-aos-delay="300">
            <div class="membership-item">
              <h3>Premium</h3>
              <h4><sup>Rs.</sup>19,999<span> / year</span></h4>
              <ul>
                <li><i class="bi bi-check"></i> 30% off on all packages</li>
                <li><i class="bi bi-check"></i> 1 time investment per year</li>
                <li><i class="bi bi-check"></i> <span>Recommended for Businesses</span></li>
                <li><i class="bi bi-check"></i> <span>Cash on Delivery Service</span></li>
              </ul>
            </div>
          </div><!-- End Membership Item -->

        </div>

      </div>
    </section><!-- End Membership Section -->

    <!-- Membership Form -->
    <section class="membership-form container mb-5">
        <div class="section-header">
          <span>Buy Membership</span>
          <h2>Buy Membership</h2>
        </div>

        <form action="/membership-form" method="post" onsubmit="return validation()">
          
          <div class="form-group mt-3">
            <select name="package" id="package" class="form-select" onchange="change()">
              <option value="classic-lite">Classic-Lite</option>
              <option value="classic-pro">Classic-Pro</option>
              <option value="gold">Gold</option>
              <option value="premium">Premium</option>
            </select>
          </div>

          <div class="form-group mt-3">
            <input id="cnic" 
            class="form-control" 
            type="text" 
            name="memberCnic" 
            title="CNIC" 
            placeholder="CNIC" 
            required/>
          </div>


          <div class="form-group mt-3">
            <input
              type="text"
              name="cardNo"
              class="form-control"
              id="cardNum"
              placeholder="Card Number"
              
              required
            />
          </div>

          <div class="form-group mt-3">
            <input
              type="text"
              class="form-control"
              name="card_holder_name"
              id="card-holder-name"
              placeholder="Card Holder Name"
              required
            />
          </div>

          <div class="row">
            <div class="col-md-4 form-group mt-3">
              <input
                type="number"
                class="form-control"
                name="card_expiry_month"
                id="card-expiry-month"
                placeholder="Card Expiry Month"
                min="1" max="12"
                required
              />
            </div>
            <div class="col-md-4 form-group mt-3">
              <input
                type="text"
                class="form-control"
                name="card_expiry_year"
                id="card-expiry-year"
                placeholder="Card Expiry Year"
                pattern="[0-9]{4}"
                required
              />
            </div>
            <div class="col-md-4 form-group mt-3">
                <input
                type="text"
                name="securitykey"
                class="form-control"
                id="cvv"
                placeholder="CVV"
                pattern="[0-9]{3}"
                required
              />
            </div>

          </div>
          
          <div class="text-center">
            <button type="submit" id="payment_btn" class="mt-2">Confirm and Pay Rs. 2,499</button>
            <button type="reset" class="mt-2">Cancel</button>
          </div>
        </form>

        <!-- Form validation and changing price on button when user select a package -->
        <script>
          function validation() {
            var year = document.getElementById("card-expiry-year").value;
            var current = new Date().getFullYear().toString();
            if (year.slice(2) < current.slice(2) || year.slice(0, 2) != 20) {
              $('#popup-unsuccessPay').modal('show');
            } else {
              var price;
              var selectedElement = document.getElementById("package").value;
              switch(selectedElement) {
                case "classic-lite":
                  price = 2499;
                  break;
                case "classic-pro":
                  price = 5999;
                  break;
                case "gold":
                  price = 9999;
                  break;
                case "premium":
                  price = 19999;
                  break;
              }
              document.getElementById("carDholder").innerText = document.getElementById("card-holder-name").value;
              document.getElementById("carDnum").innerText = document.getElementById("cardNum").value;
              document.getElementById("amounTpaid").innerText = price.toLocaleString();
              document.getElementById("transactionID").innerText = (Math.random() + 1).toString(36).substring(2);
              $('#popup-successPay').modal('show');
            }
          }

          function change() {
            var selectedElement = "classic-lite";
            var price = 2499;
            selectedElement = document.getElementById("package").value;
            switch(selectedElement) {
              case "classic-pro":
                price = 5999;
                break;
              case "gold":
                price = 9999;
                break;
              case "premium":
                price = 19999;
                break;
            }
            document.getElementById("payment_btn").innerText = `Confirm and Pay Rs.${price.toLocaleString()}`;
          }
        </script>
        
      <!-- End Membership Form -->
    </section>

    <!-- ======= Successful Payment Pop-up Section ======= -->
    <div id="popup-successPay" class="modal fade">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content paymentDiv">
          <div class="modal-body">
            <form action="">
              <header>
                <i class="fas fa-check-circle"></i>
                <h2 class="mt-2">Payment Successful</h2>
              </header>

              <table class="container-fluid">
                <tr>
                  <th>
                    <p>Payment Type</p>
                  </th>

                  <td>
                    <p>Mastercard</p>
                  </td>
                </tr>

                <tr>
                  <th>
                    <p>Card Holder Name</p>
                  </th>

                  <td>
                    <p id="carDholder"></p>
                  </td>
                </tr>

                <tr>
                  <th>
                    <p>Card Number</p>
                  </th>

                  <td>
                    <p id="carDnum"></p>
                  </td>
                </tr>

                <tr class="amount-paid">
                  <th>
                    <p>Amount Paid</p>
                  </th>

                  <th>
                    <p id="amounTpaid"></p>
                  </th>
                </tr>

                <tr>
                  <th>
                    <p>Transaction ID</p>
                  </th>

                  <td>
                    <p id="transactionID"></p>
                  </td>
                </tr>
              </table>
              
              <div>
                <button type="button" class="mt-2" onclick="print()">Print</button>
                <form action="/index">
                  <button type="submit" class="mt-2" data-bs-dismiss="modal">Close</button>
                </form>
              </div>
  
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- ======= Unsuccessful Payment Pop-up Section ======= -->
    <div id="popup-unsuccessPay" class="modal fade">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content paymentDiv">
          <div class="modal-body">
            <form action="">
              <header>
                <i class="far fa-times-circle"></i>
                <h2 class="mt-2">Payment Unsuccessful</h2>
              </header>
              
              <div>
                <form action="/index">
                  <button type="submit" class="mt-2" data-bs-dismiss="modal">Try Again!</button>
                  <button type="submit" class="mt-2" data-bs-dismiss="modal">Close</button>
                </form>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <%- include('../partials/footer') %>
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/vendor/aos/aos.js"></script>
  <script src="/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/js/main.js"></script>
  <!-- Chatbot JS File -->
  <script src="/js/chatbot.js"></script>

</body>

</html>